<!-- Toolbar -->
<div class="box" id="main">
  <div id="space"></div>
  <div class="toolbar" role="banner">
    <span id="menu-hamburguer" onclick="openNav()" title="Menu">&#9776;</span>

    <p>Movies 4 You</p>

    <div class="spacer"></div>
    <!--Instagram link-->
    <a aria-label="Instagram" target="_blank" rel="noopener" href="https://www.instagram.com/mnphotos__/"
      title="Instagram">
      <img width="30px" id="ig_logo" src="https://www.transparentpng.com/thumb/instagram-logo-icon/JTKuuM-instagram-logo-icon-free-transparent.png" alt="">
    </a>

    <!--LinkedIn link-->
    <a aria-label="LinkedIn" target="_blank" rel="noopener" href="https://www.linkedin.com/in/matheus-nogueira-1349b3203/"
      title="LinkedIn">
      <img width="30px" src="https://www.transparentpng.com/thumb/linkedin/linkedin-icon-png-4.png" alt="linkedin icon png @transparentpng.com">
    </a>

    <!--Github link-->
    <a aria-label="Github" target="_blank" rel="noopener" href="https://www.linkedin.com/in/matheus-nogueira-1349b3203/"
      title="Github">
      <img width="30px" src="https://www.transparentpng.com/thumb/logos/github-logo-png-rtT9Sy.png" alt="github logo png @transparentpng.com">
    </a>

  </div>
  <!-- <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span> -->
  <app-menu></app-menu>
  <router-outlet></router-outlet>
</div>
